<?php

/**
 * Name: {{title}} Block
 * Description: {{description}}
 * Author: {{author}}, Digital Service, University of Missouri
 * Author URI: https://digitalservice.missouri.edu
 * License: {{license}}
 * License URI: {{{licenseURI}}}
 * Version: {{version}}
 *
 * @author {{author}}, Digital Service, University of Missouri
 * @copyright 2022 Curators of the University of Missouri
 * @package {{namespace}}
 */

/**
 * Registers all block assets so that they can be enqueued through Gutenberg in
 * the corresponding context.
 *
 * Passes translations to JavaScript.
 */
function { {namespaceSnakeCase}}_{{slugSnakeCase}}_block_init() {
	register_block_type( basename( __DIR__ ) . DIRECTORY_SEPARATOR . 'build' );
}

add_action( 'init', '{{namespaceSnakeCase}}_{{slugSnakeCase}}_block_init' );
