{
  "$schema": "https://getcomposer.org/schema.json",
  "name": "mizzou/{{slug}}",
  "description": "{{description}}",
  "type": "wordpress-plugin",
  "authors": [
    {
      "name": "{{author}}",
      "email": "UPDATE-ME@missouri.edu"
    }
  ],
  "repositories": [
    {
      "type": "composer",
      "url": "https://packages.missouri.edu/php/"
    }
  ],
  "archive": {
    "exclude": [
      ".editorconfig",
      ".nvmrc",
      "*/src"
    ]
  }
}
