const path = require( 'path' );
const defaultConfig = require( '@wordpress/scripts/config/webpack.config' );

module.exports = {
  ...defaultConfig,

  output: {
    ...defaultConfig.output,
    filename: 'index.js',
    path: path.resolve( __dirname, 'build' ),
  },

  resolve: {
    ...defaultConfig.resolve,
    alias: {
      Components: path.resolve(
        __dirname,
        'node_modules/@mizzou/mizzou-design-system/src/components/',
      ),
      Layers: path.resolve(
        __dirname,
        'node_modules/@mizzou/mizzou-design-system/src/components/Layers/',
      ),
    },
    extensions: ['.tsx', '.ts', '.jsx', '.js', '...'],
    modules: ['src', 'node_modules'],
  },
};
