import * as React from 'react'
import { useBlockProps } from '@wordpress/block-editor';

function save{{slugPascalCase}}( props ) {
  const { attributes, setAttributes } = props;

  return <p>This is your custom block</p>;
}

export default save{{slugPascalCase}};
