import * as React from 'react'
import { useBlockProps } from '@wordpress/block-editor'

const Save{{slugPascalCase}} = ({ attributes }) => {
  const {  } = attributes
  const blockProps = useBlockProps.save()

  return <p { ...blockProps }>This is your custom block</p>
}

export default Save{{slugPascalCase}};
