import * as React from 'react'
import { useBlockProps } from '@wordpress/block-editor';

function editBlockName( props ) {
  const { attributes, setAttributes } = props;

  return ();
}

export default editBlockName;
